@use "../utilities/mixins" as mix;
@use "../utilities/variables" as var;

.site-footer {
	@include mix.row;

	.site-info {
		@include mix.col;
		padding: 3rem 1rem;
	}

	.footer-navigation {
		margin: auto;
		padding: 82px 1rem;
		width: 100%;
		max-width: 1200px;

		#footer-menu {
			font-size: 18px;
			font-weight: 600;
			list-style: none;
			margin: 0;
			padding: 0;
			@media #{var.$breakpoint-md-up} {
				columns: 2;
				column-gap: 2rem;
			}
			@media #{var.$breakpoint-lg-up} {
				columns: 3;
				column-gap: 16%;
			}

			> .menu-item {
				padding: 0.75rem 0;
				break-inside: avoid;

				a {
					text-decoration: none;
					display: inline-block;
					padding: 0.25rem 0;
				}


				.sub-menu {
					font-size: 16px;
					font-weight: 400;
					list-style: none;
					margin: 0;
					padding: 0;

					> .menu-item {

						a {
							color: var.$black;

							&:hover {
								color: var.$md-blue-500;
							}
						}
					}
				}
			}
		}
	}
}
