.site-header {

	.header-container {
		@include row;
	}
}

.admin-bar #page {

	.header-container {
		top: 32px;
	}
}

// ! branding
.site-header .header-container .site-branding {
	@include col($grid-4);

	img {
		width: 232px;
		height: auto;
		@media #{$breakpoint-sm-up} {
			width: 262px;
		}
	}
}

// ! header nav
.site-header .header-container #site-navigation {
	@include col($grid-8);
	display: flex;
	flex-wrap: wrap;

	// ! main nav
	.main-navigation {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin: auto;
		width: 100%;
		max-width: 1200px;
		@media #{$breakpoint-lg-up} {
			justify-content: flex-end;
			padding: 1rem;
			height: 124px;
		}

		#primary-menu {
			flex: 0 1 100%;
			font-size: 16px;
			font-weight: 500;
			display: flex;
			flex-wrap: wrap;
			list-style: none;
			margin: 0;
			padding: 0;
			@media #{$breakpoint-lg-up} {
				flex: 0 1 auto;
				font-size: 18px;
			}

			.menu-item {
				flex: 0 1 100%;
				margin: 0;
				@media #{$breakpoint-lg-up} {
					flex: 0 1 auto;
					position: relative;
					z-index: 1;
					margin: 0 0.5rem;
				}

				a {
					color: $black;
					text-decoration: none;
					display: block;
					padding: 0.75rem 1.25rem;
					transition: all 0.3s ease;
					@media #{$breakpoint-lg-up} {
						box-shadow: 0 0 0 0 $md-blue-500;
						padding: 0.375rem 0.5rem;
					}
					@media #{$breakpoint-xl-up} {
						padding: 0.375rem 1rem;
					}

					&:hover {
						color: $md-blue-500;
						background-color: unset;
						box-shadow: 0 3px 0 0 $md-blue-500;
						transition: all 0.5s ease;
					}
				}

				&.current-menu-item > a {
					color: $md-blue-500;
					box-shadow: 0 2px 0 0 $md-blue-500;
				}
			}
		}

		.search-form {
			flex: 0 1 100%;
			display: flex;
			padding: 0.9375rem;
			@media #{$breakpoint-lg-up} {
				flex: 0 1 auto;
				margin-right: 0;
				margin-left: 0.5rem;
				padding: 0;
			}
			@media #{$breakpoint-xl-up} {
				margin-left: 1.5rem;
			}

			label {
				width: 100%;
				@media #{$breakpoint-lg-up} {
					width: unset;
				}

				.search-field {
					border: 1px solid $md-gray-300;
					border-right-style: none;
					border-radius: 3px 0 0 3px;
					background-color: $md-gray-200;
					padding-left: 8px;
					width: 100%;
					height: 34px !important;

					&:focus {
						background-color: $white;
					}
				}
			}

			.search-submit {
				text-indent: -999px;
				border-color: $md-gray-300;
				border-left-style: none;
				border-radius: 0 3px 3px 0;
				background: $md-gray-200 url("../images/search.svg") no-repeat 12px 0;
				background-size: 18px 68px;
				width: 42px;
				height: 34px;
				cursor: pointer;
				transition: border 0.3s ease, background-color 0.3s ease;

				&:hover {
					border-color: $md-blue-500;
					background-color: $md-blue-500;
					background-position: 12px -34px;
					transition: border 0.15s ease, background-color 0.15s ease;
				}
			}
		}
	}
}

// ! drop-downs
.site-header .header-container #site-navigation {

	.menu {

		.menu-item {

			&.menu-open {

				.sub-menu {
					display: block;
					@media #{$breakpoint-lg-up} {
						opacity: 1;
						top: 44px;
						transition: all 0.25s ease-out;
					}
				}
			}

			&.fade-in {

				.sub-menu {
					display: block;
					@media #{$breakpoint-lg-up} {
						opacity: 0;
						top: 34px;
					}
				}
			}

			&.fade-out {

				.sub-menu {
					display: block;
					@media #{$breakpoint-lg-up} {
						opacity: 0;
						top: 34px;
						transition: all 0.2s ease-out;
					}
				}
			}
		}

		.sub-menu {
			font-size: 16px;
			display: none;
			list-style: none;
			padding: 0;
			@media #{$breakpoint-lg-up} {
				border-top: 2px solid $md-blue-500;
				border-radius: 0 0 4px 4px;
				background-color: $white;
				box-shadow: 0 2px 16px 2px rgba($black, 0.2);
				opacity: 0;
				position: absolute;
				top: -9999px;
				left: 50%;
				z-index: 1;
				padding: 0.5rem 0;
				width: 216px;
				transform: translate(-50%, 0);
				transition: all 0.05s ease-out;
			}

			.menu-item > a {
				box-shadow: none !important;
				@media (max-width: 992px) {
					padding-left: 2rem !important;
				}
			}
		}
	}
}

// ! mobile menu
.site-header {

	.header-container #site-navigation .main-navigation {
		@media (max-width: 992px) {
			display: none;
			overflow: hidden;
			max-height: 0;

			.menu-primary-menu-container {
				width: 100%;
			}
		}
	}

	&.fade-in .header-container #site-navigation .main-navigation {
		@media (max-width: 992px) {
			display: block;
			max-height: 0;
			transition: max-height 0.3s ease-out;
		}
	}

	&.mobile-menu-open .header-container #site-navigation .main-navigation {
		@media (max-width: 992px) {
			display: block;
			max-height: 1000px;
			transition: max-height 0.3s ease-out;
		}
	}

	&.fade-out .header-container #site-navigation .main-navigation {
		@media (max-width: 992px) {
			display: block;
			max-height: 0;
			transition: max-height 0.3s ease-out;
		}
	}

	.menu-button {
		color: var.$text-color;
		font-size: 15px;
		line-height: 1.3;
		text-align: left;
		text-transform: uppercase;
		border-style: none;
		background-color: transparent;
		position: relative;
		z-index: 2;
		margin-left: auto;
		padding: 17px 15px 17px 8px;
		width: 106px;
		height: 49px;
		cursor: pointer;
		@media #{var.$breakpoint-md-up} {
			display: none;
		}

		&:focus {
			outline: 2px solid var.$black;
			outline-offset: -2px;
		}

		&:focus:not(:focus-visible) {
			outline: unset;
		}

		&:focus-visible {
			outline: 2px solid var.$black;
			outline-offset: -2px;
			box-shadow: inset 0 0 0 4px var.$white;
		}
	}

	&.mobile-menu-open {

		#mobile-menu-icon {

			i:nth-child(1) {
				top: 6px;
				left: 50%;
				width: 0;
			}

			i:nth-child(2) {
				transform: rotate(45deg);
			}

			i:nth-child(3) {
				transform: rotate(-45deg);
			}

			i:nth-child(4) {
				top: 6px;
				left: 50%;
				width: 0;
			}
		}
	}

	#mobile-menu-icon {
		border: 15px solid rgba($black, 0);
		display: block;
		position: absolute;
		top: 28px;
		right: 11px;
		z-index: 1;
		width: 60px;
		height: 45px;
		cursor: pointer;

		@media #{$breakpoint-lg-up} {
			display: none;
		}

		span {
			color: $black;
			position: absolute;
			top: -3px;
			right: 32px;
		}

		i {
			border-radius: 7px;
			background-color: $black;
			display: block;
			position: absolute;
			left: 0;
			width: 100%;
			height: 3px;
			transform: rotate(0deg);
			transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
		}

		i:nth-child(1) {
			top: 0;
		}

		i:nth-child(2),
		i:nth-child(3) {
			top: 7px;
		}

		i:nth-child(4) {
			top: 14px;
		}
	}

	#mobile-menu-icon:hover {
		-webkit-tap-highlight-color: transparent;
	}
}

// ! sidebar sub-menu
.submenu-area {

	.menu {
		list-style: none;
		margin: 2rem 0;
		padding: 0;

		.menu-item {
			margin: 0.25rem 0;

			&:last-child {
				border-bottom-style: none;
			}

			a {
				color: $md-gray-800;
				text-decoration: none;
				box-shadow: inset 0 0 0 0 $md-blue-500;
				display: block;
				position: relative;
				z-index: 1;
				padding: 0.25rem 0.25rem 0.5rem 0;
				transition: all 0.3s ease;

				&:hover {
					color: $md-blue-500;
					box-shadow: inset -3px 0 0 0 $md-blue-500;
					padding-left: 0.25rem;
					transition: all 0.5s ease;
				}
			}

			.children a {
				padding-left: 1.5rem;
			}

			&.current-menu-item {

				a {
					color: $md-blue-500;
					box-shadow: inset -3px 0 0 0 $md-blue-500;
				}
			}
		}
	}
}

// ! breadcrumbs
.breadcrumbs {
	@include row;
	color: $md-gray-600;
	font-size: 15px;
	padding: 1rem;

	span {
		padding: 0 0.25rem;

		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			padding-right: 0;
		}
	}

	a {
		color: $md-gray-500;
	}
}
