@use "../utilities/variables" as var;

table {
	border-style: none;
	border-collapse: collapse;
	margin: 2rem 0;
	width: 100%;

	th,
	td {
		border-style: none;
		padding: 1rem;
	}

	th {
		font-size: 17px;
		text-align: left;
		border-bottom: 2px solid var.$md-blue-500;
		vertical-align: bottom;
	}

	td {
		font-size: 17px;
		border-bottom: 1px solid var.$md-gray-300;
	}

	tr:last-child td {
		@media #{var.$breakpoint-md-up} {
			border-bottom-style: none;
		}
	}

	&.bt {

		tr {
			border-top: 2px solid var.$md-blue-500;
		}
	}
}
