@use "../utilities/variables" as var;

html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	color: var.$text-color;
	font-size: 16px;
	line-height: 1.24;
	font-weight: 400;
	font-family: var.$font-main;
}

h1 {
	color: var.$text-color;
	font-size: 34px;
	font-weight: 800;
}

h2 {
	color: var.$text-color;
	font-size: 28px;
	font-weight: 700;
}

h3 {
	color: var.$text-color;
	font-size: 24px;
	font-weight: 600;
}

h4 {
	color: var.$text-color;
	font-size: 18px;
	font-weight: 600;
}

p,
ol,
ul {
	color: var.$text-color;
	font-size: 17px;
	line-height: 1.3;
	font-family: var.$font-main;
}

blockquote {
	border-left: 5px solid var.$md-gray-200;
	clear: both;
	margin: 0;
	padding-left: 1rem;
}

blockquote,
blockquote p {
	color: var.$text-color;
	font-size: 21px;
	font-weight: 500;
	font-style: italic;
}

address {
	margin: 0 0 1.5rem;
}
