// stylelint-disable scss/double-slash-comment-empty-line-before
@use "sass:color";
@use "sass:math";

// -------------------------------------------------------------
// Utilities
// -------------------------------------------------------------

@import "utilities/mixins";
@import "utilities/variables";
@import "utilities/accessibility";

// -------------------------------------------------------------
// Elements
// -------------------------------------------------------------

@import "elements/typography";
@import "elements/anchors";
@import "elements/forms";
// @import "elements/comments";
@import "elements/tables";

// -------------------------------------------------------------
// Layout
// --------------------------------------------------------------

@import "layout/header";
@import "layout/footer";
@import "layout/main";
@import "layout/components";

// stylelint-disable-next-line selector-id-pattern
#__bs_notify__ {
	// Move notification to bottom-left
	color: #fff !important;
	font-size: 0.9375rem !important;
	font-weight: 500;
	text-shadow: 0 -1px 0 #000;
	border-top-right-radius: 8px !important;
	border-bottom-left-radius: 0 !important;
	background-color: rgba(0, 0, 0, 0.8) !important;
	box-shadow:
		inset 0 1px 0 0 rgba(255, 255, 255, 0.3),
		inset -1px 0 0 0 rgba(255, 255, 255, 0.3),
		0 -1px 0 0 rgba(0, 0, 0, 0.75),
		1px 0 0 0 rgba(0, 0, 0, 0.75);
	inset: auto auto 0 0 !important;
	padding: 20px 25px !important;
	backdrop-filter: blur(3px);
}
